html {
  font-size: 16px;
}

body {
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* header */

header {
  padding: 2.8125rem 0;
}

.logo {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
}
.menu-nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}
.menu-nav li:not(:first-child) {
  margin-left: 2.5rem;
}
.menu-nav li a {
  color: #4f5665;
}

.auth-btns .btn-simple {
  color: #000;
  font-weight: 600;
}
.btn-outline {
  display: inline-block;
  padding: 10px 45px;
  color: #7f67ce;
  border: 1px solid #7f67ce;
  border-radius: 30px;
  transition: all 0.3s;
  margin-left: 1.875rem;
}
.btn-outline:hover {
  color: #fff;
  background-color: #7f67ce;
}

/* intro section */

#intro {
  padding: 10rem 0 0;
}

#intro h1 {
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 4.375rem;
}
#intro p {
  font-size: 1rem;
  line-height: 1.875rem;
  margin: 1.25rem 0 3.125rem;
}

.btn-solid {
  color: white;
  background-color: #7f67ce;
  border: 1px solid #7f67ce;
  border-radius: 5px;
  padding: 0.9375rem 3.75rem;
  transition: all 0.3s;
}
.btn-solid:hover {
  color: #7f67ce;
  background-color: transparent;
}

/* info section */

#info {
  position: relative;
  top: 78px;
}

.info-wrapper {
  padding: 2.1875rem 0px;
  box-shadow: 1px 2px 6px 1px #0000002b;
  background-color: white;
}
#info .info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 0;
}
#info .info-item.mid {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

#info .info-item img {
  margin-right: 2.1875rem;
}

#info .info-item span {
  font-weight: bold;
}
#info .info-item .secondary {
  font-weight: 300;
  font-size: 0.875rem;
}

/* features */

#features {
  background-color: #f8f8f8;
  padding: 6.25rem 0;
}

#features h3 {
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 3.125rem;
}
#features p {
  font-size: 1rem;
  line-height: 1.875rem;
}
.feature-list li {
  font-size: 0.875rem;
  line-height: 1.875rem;
  display: flex;
}
.feature-list li::before {
  content: url("../icons/check.svg");
  margin-right: 0.625rem;
}

#features .feature-info-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
}

/* plans section */

#plans {
  padding: 3.75rem 0;
}

.title {
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 3.125rem;
  text-align: center;
}
.title-desc {
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

.plan-item {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.plan-item h6 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: 1.875rem 0;
}
.plan-item h5 {
  font-weight: 500;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}

.plan-item .btn-outline {
  margin: 0;
}

.plan-list li {
  font-size: 0.875rem;
  line-height: 1.875rem;
  display: flex;
}
.plan-list li::before {
  content: url("../icons/simple-check.svg");
  margin-right: 0.625rem;
}

/* network section */

#network {
  padding-bottom: 3.75rem;
}

/* brands section */

#brands .img-wrapper {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

#subscribe {
  position: relative;
  top: 113px;
}
.subscribe-wrapper {
  background-color: #fff;
  box-shadow: 1px 2px 6px 1px #0000002b;
  padding: 2.5rem 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-text h2 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin-bottom: 1.25rem;
}
.subscribe-text p {
  font-size: 1rem;
  line-height: 1.875rem;
}
.subscribe-btn-box {
}
.subscribe-btn-box .btn-subscribe {
}

/* links footer */

#link-footer {
  padding: 9.375rem 0 6.25rem;
  background-color: #f8f8f8;
}

.footer-info {
}
.footer-info .footer-desc {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  margin: 1.25rem 0;
}

.footer-info .footer-copyright {
  font-size: 1rem;
  line-height: 1.875rem;
  color: #afb5c0;
  margin-top: 1.25rem 0;
}

#link-footer h5 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.footer-list li {
  margin-top: 0.625rem;
}
.footer-list li a {
  font-size: 1rem;
  line-height: 1.875rem;
  color: #4f5665;
}

@media (max-width: 992px) {
  html {
    font-size: 15px;
  }

  header .logo {
    margin-right: auto;
  }

  .menu-nav {
    margin: 0.9375rem 0;
  }

  #intro {
    padding: 0;
  }

  .plan-item {
    padding: 1.125rem;
  }

  #brands .img-wrapper {
    width: 100px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 13px;
  }

  header .logo {
    margin: 0 auto;
  }

  .menu-nav li:not(:first-child) {
    margin-left: 2rem;
  }

  #intro img {
    margin-top: 1.5625rem;
  }

  #info .info-item.mid {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }

  #brands .img-wrapper {
    margin: 1.25rem auto;
  }

  .plan-item {
    padding: 3.125rem;
  }

  #subscribe {
    top: 60px;
  }

  .subscribe-wrapper {
    flex-wrap: wrap;
  }

  .subscribe-text p {
    margin-bottom: 1.875rem;
  }

  #link-footer {
    padding: 7.25rem 0 3.75rem;
  }

  .col-md-4 .plan-item:nth-child(2n + 0) {
    margin: 30px 0;
  }
}
